<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Pet</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/CadPet.css' %}">
</head>
<body>
    <div class="signup-container">
        <img style='max-width: 300px;' src="{% static 'img/Logo.png' %}" alt="Logo">
        <h2>Cadastrar Novo Pet</h2>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-tutor">
                    <div>
                        <div class="flex-container">
                            <label for="tutor">Tutor:</label>
                            <select name="tutor" id="tutor" required>
                                <option value="">Selecione um Tutor</option>
                                {% for tutor in tutores %}
                                    <option value="{{ tutor.id }}">{{ tutor.tutor_nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row field-nome_pet">
                    <div>
                        <div class="flex-container">
                            <label for="nome_pet">Nome do Pet:</label>
                            <input type="text" name="nome_pet" required>
                        </div>
                    </div>
                </div>

                <div class="form-row field-peso_pet">
                    <div>
                        <div class="flex-container">
                            <label class="required" for="peso_pet">Peso do Pet:</label>
                            <input type="number" name="peso_pet" step="any" required id="peso_pet">
                        </div>
                    </div>
                </div>

                <div class="form-row field-idade_pet">
                    <div>
                        <div class="flex-container">
                            <label for="idade_pet">Idade do Pet:</label>
                            <input type="text" name="idade_pet" class="vTextField" maxlength="2" id="idade_pet">
                        </div>
                    </div>
                </div>

                <div class="form-row field-raca_pet">
                    <div>
                        <div class="flex-container">
                            <label for="raca_pet">Raça do Pet:</label>
                            <input type="text" name="raca_pet" class="vTextField" maxlength="30" id="raca_pet">
                        </div>
                    </div>
                </div>

                <div class="form-row field-tipo">
                    <div>
                        <div class="flex-container">
                            <label class="required" for="tipo">Tipo:</label>
                            <select name="tipo" id="tipo" required>
                                <option value="gato" selected>Gato</option>
                                <option value="cachorro">Cachorro</option>
                                <option value="aves">Aves</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="submit-row">
                <button type='submit'>Cadastrar</button>
            </div>
        </form>
    </div>
</body>
</html>
