<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CadVeterinario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/CadFunc.css' %}">    
  </head>
  <body>
    <div class="signup-container">
      <img style='max-width: 300px;'src="{% static 'img/Logo.png' %}" alt="Logo">
      <h2>Cadastro Funcionario</h2>
      <form action="#" method="POST">
        <fieldset class="module aligned">
          <div class="form-row field-nome_func">
            <label for="id_nome_func">Nome Funcionario:</label>
            <input
              type="text"
              name="nome_func"
              class="vTextField"
              maxlength="30"
              id="id_nome_func"
            />
          </div>
          <div class="form-row field-peso_Cpf">
            <label class="required" for="id_peso_Cpf">Cpf:</label>
            <input
              type="number"
              name="peso_Cpf"
              step="any"
              required
              id="id_peso_Cpf"
            />
          </div>
          <div class="form-row field-endereço">
            <label for="id_endereço">Endereço:</label>
            <input
              type="text"
              name="endereço"
              class="vTextField"
              maxlength="2"
              id="id_endereço"
            />
          </div>
          <div class="form-row field-sexo">
            <label for="id_sexo">Sexo:</label>
            <input
              type="text"
              name="sexo"
              class="vTextField"
              maxlength="30"
              id="id_sexo"
            />
          </div>
          <div class="form-row field-telefone">
            <label class="required" for="id_telefone">Telefone:</label>
            <input name="telefone" id="id_telefone" />
          </div>
        </fieldset>
        <div class="submit-row">
          <a href="{% url 'home' %}" class="submit-row">Salvar</a>
        </div>
      </form>
    </div>
  </body>
</html>
