<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <div class="login-container">
        <img style='max-width: 300px;'src="{% static 'img/Logo.png' %}" alt="Logo">
      <form action="#" method="POST">
          <div class="input-group">
              <label for="username">Usuário</label>
              <input type="text" id="username" name="username" required>
          </div>
          <div class="input-group">
              <label for="password">Senha</label>
              <input type="password" id="password" name="password" required>
          </div>
          <div class="submit-row">
            <a href="{% url 'home' %}" class="btn-submit">Entrar</a>
      </form>
      <div class="options" >
          <a href="#">Recuperar Senha</a>
          <a href="#">Criar Conta Nova</a>
      </div>
  </div>
    </div>
  </body>
</html>
