* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #3336d1;
    font-size: 1.2rem; /* Aumenta o tamanho da fonte do navbar */
}

.navbar .logo img {
    height: 50px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 3.0rem; 
}

.sobre-nos h1 {
    margin-bottom: 10px;
    font-size: 2rem; /* Título maior */
}

.sobre-nos p {
    font-size: 1.2rem; /* Texto principal do main */
}

        
.btn-direcionar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3d279c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    font-size: 2rem;
    }

    .btn-direcionar:hover {
         background-color: #4645a0;
    }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1rem; /* Aumenta o tamanho da fonte do footer */
    position: relative;
    width: 100%;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-content a:hover {
    text-decoration: underline;
}
